@import "tailwindcss";

@theme {
  --color-deep-teal: #006D77;
  --color-warm-cream: #FDFBF7;

  --font-figtree: var(--font-figtree);
  --font-lora: var(--font-lora);

  /* Override defaults */
  --font-sans: var(--font-figtree), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-lora), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    touch-action: pan-y;
  }


  body {
    background-color: var(--color-warm-cream);
    color: #0f172a;
    font-family: var(--font-figtree);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}